In [4]:
ls json

 Volume in drive C has no label.
 Volume Serial Number is D429-F2CA

 Directory of C:\Users\agnes\Desktop\GG\Project123\json

01/01/2025  21.26    <DIR>          .
01/01/2025  23.42    <DIR>          ..
01/01/2025  23.40            18.136 cerita_rohani.json
               1 File(s)         18.136 bytes
               2 Dir(s)  112.019.619.840 bytes free

In [7]:
import pandas as pd

# Membaca file JSON
df = pd.read_json('./json/cerita_rohani.json')

In [8]:
df.head()

,id,judul,img,content,kategori,sumber
0,cerita_1,Allah Mulai Membuat Segala Sesuatu,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'SEGALA sesuatu yang baik data...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
1,cerita_2,Taman yang Indah,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'LIHATLAH bumi ini! Betapa bag...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
2,cerita_3,Lelaki dan Perempuan Pertama,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'APA yang berbeda dalam gambar...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
3,cerita_4,Mengapa Mereka Kehilangan Tempat Tinggal Mereka,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'COBA lihat apa yang terjadi. ...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
4,cerita_5,Hidup Mulai Jadi Susah,[{'img_1': 'https://raw.githubusercontent.com/...,"[{'paragraf_1': 'DI LUAR taman Eden, Adam dan ...",Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...