In [1]:
ls json

 Volume in drive C has no label.
 Volume Serial Number is D429-F2CA

 Directory of C:\Users\agnes\Desktop\GG\Student215410072\json

05/01/2025  18.14    <DIR>          .
05/01/2025  18.14    <DIR>          ..
05/01/2025  21.59            23.164 cerita_rohani.json
               1 File(s)         23.164 bytes
               2 Dir(s)  119.310.450.688 bytes free

In [2]:
import pandas as pd

# Membaca file JSON
df = pd.read_json('./json/cerita_rohani.json')

In [3]:
df.head()

,id,judul,img,content,kategori,sumber
0,cerita_1,Allah Mulai Membuat Segala Sesuatu,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'SEGALA sesuatu yang baik data...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
1,cerita_2,Taman yang Indah,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'LIHATLAH bumi ini! Betapa bag...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
2,cerita_3,Lelaki dan Perempuan Pertama,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'APA yang berbeda dalam gambar...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
3,cerita_4,Mengapa Mereka Kehilangan Tempat Tinggal Mereka,[{'img_1': 'https://raw.githubusercontent.com/...,[{'paragraf_1': 'COBA lihat apa yang terjadi. ...,Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...
4,cerita_5,Hidup Mulai Jadi Susah,[{'img_1': 'https://raw.githubusercontent.com/...,"[{'paragraf_1': 'DI LUAR taman Eden, Adam dan ...",Rohani,https://www.jw.org/id/perpustakaan/buku/cerita...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9 non-null      object
 1   judul     9 non-null      object
 2   img       9 non-null      object
 3   content   9 non-null      object
 4   kategori  9 non-null      object
 5   sumber    9 non-null      object
dtypes: object(6)
memory usage: 564.0+ bytes